@import "_maps.scss";

.img-footer{
    max-width: 60%;
}

footer {
    display: flex;
    background-color: map-get($estilo-footer, color-fondo);
    justify-content: space-evenly;
}

.redes {
    display: flex;
    :hover {
        transform: scale(1.2);
    }
}