* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu Sans Mono";
}

header nav {
  width: 100%;
}
header nav ul {
  gap: 20px;
  width: -webkit-fill-available;
}
header nav ul li {
  align-self: center;
  list-style: none;
  padding: 5px 10px 0px 10px;
}
header nav ul li:hover {
  background-color: rgb(250, 152, 220);
}
header nav ul li a {
  color: rgb(250, 152, 220) !important;
  text-decoration: none;
}
header nav ul li a:hover {
  color: rgb(245, 208, 234) !important;
}

.img-logo {
  width: 60px;
}

.img-footer {
  max-width: 60%;
}

footer {
  display: flex;
  background-color: rgb(151, 151, 150);
  justify-content: space-evenly;
}

.redes {
  display: flex;
}

.boton-primario {
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  border-color: transparent;
  background-color: rgb(245, 111, 205);
  color: rgb(245, 208, 234);
}

.boton-secundario {
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  border-color: transparent;
  background-color: rgb(245, 208, 234);
  color: rgb(245, 111, 205);
}

@media only screen and (max-width: 420px) {
  p {
    text-align: justify;
  }
  .cursos-inicio {
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .col-cursos-inicio {
    margin-bottom: 10px;
  }
  .section-cursos {
    margin: 0px;
  }
  .imagen-curso {
    margin: 5px 0px 5px 0px;
  }
  .menu-videos {
    text-align: center;
  }
  .encabezado-videos {
    margin-bottom: 10px;
  }
  .img-inicio {
    height: 90vh !important;
  }
}
.foto-principal {
  max-width: 90%;
}
.foto-principal img {
  max-width: 100%;
}

.video-principal {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.titulo-principal {
  margin: 10px;
}

.cursos-inicio p {
  text-align: justify;
}

.col-cursos-inicio {
  margin-bottom: 10px;
}

.img-inicio {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  margin-bottom: 10px;
}

.icono-carrito {
  width: 20px;
  height: 20px;
}

.carousel-container {
  max-width: 100%;
  height: 500px;
}

.carousel-video {
  max-width: 100%;
  max-height: 100%;
}
.carousel-video video {
  max-width: 100%;
  max-height: 100%;
}

.section-cursos {
  margin: 10px 0px 10px 0px;
}

.col-cursos-cursos {
  margin-bottom: 15px;
}

.video-cursos {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  margin-bottom: 10px;
}

.encabezado-videos {
  position: relative;
  height: 500px;
  margin-bottom: 50px;
}
.encabezado-videos img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0.6;
}
.encabezado-videos h1 {
  position: absolute;
  bottom: 0;
  left: 15px;
  padding: 10px;
}

.subtitulo-videos {
  text-align: justify;
  margin: 30px 0 25px 0;
}

.video-videos {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  margin-bottom: 10px;
}

.menu-videos {
  background-color: rgb(245, 208, 234);
}
.menu-videos ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
}
.menu-videos ul :hover {
  background-color: rgb(250, 152, 220);
}
.menu-videos ul li {
  border: solid 1px rgb(245, 111, 205);
  padding: 5px;
  background-color: rgb(245, 208, 234);
}
.menu-videos ul li a {
  text-decoration: none;
  color: inherit;
}

.imagen-nosotros {
  max-width: 100%;
  max-height: 100%;
}

.formulario-registro {
  background-color: rgb(250, 152, 220);
  border-radius: 20px;
  padding: 30px;
}

/*# sourceMappingURL=styles.css.map */
